<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #f5f5f5;
    }
  </style>
  <title>Temperature Dashboard</title>
   <script src="/dashboard/static/js/mqtt_message_processing.js"></script>
   <script src="/dashboard/static/js/ws_handler.js"></script>
</head>
<body class="font-sans" data-ws-hostname="{{ws_hostname}}" data-ws-port="{{ws_port}}">
  <header class="bg-gray-800 text-white py-4 text-center">
    <h1 class="text-2xl">Temperature Dashboard</h1>
  </header>

  <main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-6">

    <!-- Salon -->
	<div class="bg-white rounded-md shadow-md transition-transform hover:scale-105 hover:shadow-lg">
		<div class="widget p-6 relative flex items-center">
		  <div>
		    <h2 class="text-xl font-semibold mb-2">Salon</h2>
			<div class="flex items-baseline"> <!-- Utilisation de flex pour disposer en ligne -->
			  <p class="text-gray-600 text-xl mr-4">
                  <span id="salon_temperature">{{salon_temperature}}</span>
                  <span>°C</span>
              </p> <!-- Utilisation de mr-2 pour ajouter de la marge à droite -->
			  <p class="text-gray-400">
                  <span id="salon_elapse">{{salon_elapse}}</span>
                  <span>min</span>
              </p>
			</div>
		  </div>
		  <img class="logo absolute top-1/2 right-6 transform -translate-y-1/2 w-12 h-12" src="https://www.creativefabrica.com/wp-content/uploads/2019/12/18/Thermometer-icon-design-Graphics-1-1-580x387.png" alt="Thermometer">
		</div>
		
		<div class="banner right-0 bg-gray-200 p-2 rounded-b-md" onclick="spinStatus('salon')">
			<p class="text-lg text-gray-600">
			  <span>Temperature cible:</span>
              <span id="tc_salon_1">{{tc_salon}}</span><span>°C</span><span id="tc_salon_1_ts" class="ml-2 text-sm text-gray-400">le 1 jan. à 05:00</span>
			</p>
			<div class="flex items-center">
			  <span class="mr-2">Statut:</span>
			  <div id="salon_rad_icon" class="w-3 h-3 bg-green-500 rounded-full" data-status="{{salon_status}}"></div>
			  <span id="salon_rad_message" class="ml-1 text-green-500">En chauffe</span>
			</div>
		</div>
	</div>

    <!-- Bureau -->
	<div class="bg-white rounded-md shadow-md transition-transform hover:scale-105 hover:shadow-lg">
		<div class="widget p-6 relative flex items-center">
		  <div>
		    <h2 class="text-xl font-semibold mb-2">Bureau</h2>
			<div class="flex items-baseline"> <!-- Utilisation de flex pour disposer en ligne -->
			  <p class="text-gray-600 text-xl mr-4">
                  <span id="bureau_temperature">{{bureau_temperature}}</span>
                  <span>°C</span>
              </p>
			  <p class="text-gray-400">
                  <span id="bureau_elapse">{{bureau_elapse}}</span>
                  <span>min</span>
              </p>
			</div>
		  </div>
		  <img class="logo absolute top-1/2 right-6 transform -translate-y-1/2 w-12 h-12" src="https://www.creativefabrica.com/wp-content/uploads/2019/12/18/Thermometer-icon-design-Graphics-1-1-580x387.png" alt="Thermometer">
		</div>

		<div class="banner right-0 bg-gray-200 p-2 rounded-b-md" onclick="spinStatus('bureau')">
            <p class="text-lg text-gray-600">
              <span>Temperature cible:</span>
              <span id="tc_bureau">{{tc_bureau}}</span><span>°C</span><span id="tc_bureau_ts" class="ml-2 text-sm text-gray-400">le 1 jan. à 05:00</span>
            </p>
			<div class="flex items-center">
			  <span class="mr-2">Statut:</span>
			  <div id="bureau_rad_icon" class="w-3 h-3 bg-yellow-500 rounded-full" data-status="{{bureau_status}}"></div>
			  <span id="bureau_rad_message" class="ml-1 text-yellow-500">Veille</span>
			</div>
		</div>
	</div>

    <!-- Chambre -->
	<div class="bg-white rounded-md shadow-md transition-transform hover:scale-105 hover:shadow-lg">
		<div class="widget p-6 relative flex items-center">
		  <div>
		    <h2 class="text-xl font-semibold mb-2">Chambre</h2>
			<div class="flex items-baseline"> <!-- Utilisation de flex pour disposer en ligne -->
			  <p class="text-gray-600 text-xl mr-4">
                  <span id="chambre_temperature">{{chambre_temperature}}</span>
                  <span>°C</span>
              </p> <!-- Utilisation de mr-2 pour ajouter de la marge à droite -->
			  <p class="text-gray-400">
                  <span id="chambre_elapse">{{chambre_elapse}}</span>
                  <span>min</span>
              </p>
			</div>
		  </div>
		  <img class="logo absolute top-1/2 right-6 transform -translate-y-1/2 w-12 h-12" src="https://www.creativefabrica.com/wp-content/uploads/2019/12/18/Thermometer-icon-design-Graphics-1-1-580x387.png" alt="Thermometer">
		</div>

		<div class="banner right-0 bg-gray-200 p-2 rounded-b-md" onclick="spinStatus('chambre')">
            <p class="text-lg text-gray-600">
              <span>Temperature cible:</span>
              <span id="tc_chambre">{{tc_chambre}}</span><span>°C</span><span id="tc_chambre_ts" class="ml-2 text-sm text-gray-400">le 1 jan. à 05:00</span>
            </p>
			<div class="flex items-center">
			  <span class="mr-2">Statut:</span>
			  <div id="chambre_rad_icon" class="w-3 h-3 bg-red-500 rounded-full" data-status="{{chambre_status}}"></div>
			   <span id="chambre_rad_message" class="ml-1 text-red-500">En chauffe</span>
			</div>
		</div>
	</div>

    <!-- Couloir -->
	<div class="bg-white rounded-md shadow-md transition-transform hover:scale-105 hover:shadow-lg">
		<div class="widget p-6 relative flex items-center">
		  <div>
		    <h2 class="text-xl font-semibold mb-2">Couloir</h2>
			<div class="flex items-baseline"> <!-- Utilisation de flex pour disposer en ligne -->
			  <p class="text-gray-600 text-xl mr-4">
                  <span id="couloir_temperature">{{couloir_temperature}}</span>
                  <span>°C</span>
              </p> <!-- Utilisation de mr-2 pour ajouter de la marge à droite -->
			  <p class="text-gray-400">
                  <span id="couloir_elapse">{{couloir_elapse}}</span>
                  <span>min</span>
              </p>
			</div>
		  </div>
		  <img class="logo absolute top-1/2 right-6 transform -translate-y-1/2 w-12 h-12" src="https://www.creativefabrica.com/wp-content/uploads/2019/12/18/Thermometer-icon-design-Graphics-1-1-580x387.png" alt="Thermometer">
		</div>

		<div class="banner right-0 bg-gray-200 p-2 rounded-b-md" onclick="spinStatus('couloir')">
            <p class="text-lg text-gray-600">
              <span>Temperature cible:</span>
              <span id="tc_couloir">{{tc_couloir}}</span><span>°C</span><span id="tc_couloir_ts" class="ml-2 text-sm text-gray-400">le 1 jan. à 05:00</span>
            </p>
			<div class="flex items-center">
			  <span class="mr-2">Statut:</span>
			  <div id="couloir_rad_icon" class="w-3 h-3 bg-red-500 rounded-full" data-status="{{couloir_status}}"></div>
			   <span id="couloir_rad_message" class="ml-1 text-red-500">En chauffe</span>
			</div>
		</div>
	</div>

  </main>
</body>
</html>
